@use "./../abstracts/variables";

body{
    margin: 0px;
    padding-top: 0px;
}

a, a:hover{
    text-decoration: none;
}

p,h1,h2,h3,h4,h5,h6,label,input,select,textarea,a{
    color: variables.$color-secondary;
}
